* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;  /* ereditato da tutto salvo sovrascritture */
  color: #33475b;   /* Primary Color*/
  font-family: Helvetica, Arial, sans-serif;
}


.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.outer-wrapper {
  /* Da attivare / disattivare per passare da layout full-width a boxed */
  /* max-width: 1600px; */
  margin:auto;
}

.inner-wrapper { /* l'area che sarà effettivamente occupata dalla maggior parte degli elementi*/
  max-width: 1054px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

/* Tipografia generale */

p {
  line-height: 27px;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 20px;
}

a { /* Reset colori e decoration dei link */
  text-decoration: none;
  color:inherit;
}

h1 ,
.bigger-text {
  font-size: 4.5rem;
  line-height: 50px;
}

.smaller-text {
  font-size: 1.4rem;
}

/* Posizionamenti / Layout / Colonne */


.height-small {
  min-height: 70px;
}

.height-medium {
  min-height: 350px;
}

.height-large {
  min-height: 550px;  /* altezza (minima) standard per alcuni componenti */
}

.float-left {
  float: left;
}
.float-right {
  float:right;
}

.place-on-bottom ,
.align-y ,
.align-v ,
.align-x-y {
  position: absolute;
  padding-right: inherit;
  padding-left: inherit;
}

.align-x {
  left: 50%;
  transform: translateX(-50%);
}

.align-y {
  top: 50%;
  transform: translateY(-50%);
}

.align-x-y {
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}

.place-on-bottom {  /* Posiziona alcuni elementi in fondo al loro contenitore per evtare di lasciare uno spazio vuoto troppo ampio*/
  bottom: 0;
}

          /* Colonna larghezza piena */

.full-width {
  width: 100%;
}

          /* Layout a due colonne (no gap) */

.col-one-half {
  width: 50%;
}
          /* Layout a 3 colonne
          (lascia 15px di gap da gestire con i margini)*/

.col-one-third {
  width: calc((100% / 3) - 10px ); /* gap di 10px per ogni colonna */
}
.col-two-thirds {
  width: calc((100% / 3)  * 2 - 5px ); /*  gap di 5 px*/
}

          /* Layout a 4 colonne (no gap) */
.col-one-fourth {
  width:25%;
}

/*
######################
Inizio Regole Generali menu
######################
*/

ul {
  list-style: none;
}
ul.horizontal-list li {
  display: inline-block;
}
ul.horizontal-list li:not(:first-child) {
  padding-left: 15px; /* padding per tutti gli li ad eccezione del primo*/
}
ul.horizontal-list li:not(:last-child) {
  padding-right: 15px; /* padding per tutti gli li ad eccezione dell'ultimo*/
}

/* Pulsanti  */

a.btn.orange {
  background-color: #fe775a;
  color: white;
}

a.btn.white {
  background-color: white;
  color: #fe775a;
  border: 1px solid #fe775a;
}

a.btn.gray {
  background-color: lightgray;
  color: #33475b;
}

a.btn {
  padding: 15px 25px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

/*
######################
Inizio Regole Tool Bar
######################
*/

#tool-bar {
  background-color: #f4f9fd;
}

#tool-bar nav#top-left-menu {
  left:0;
  padding-left: inherit;  /* Riprendi il padding dell'inner-wrapper*/
}
#tool-bar nav#top-right-menu {
  right:0;
  padding-right: inherit; /* Riprendi il padding dell'inner-wrapper*/
}

#tool-bar nav#top-left-menu ul li:not(:last-child) {
  border-right: 1px solid #33475b; /* il bordino che separa il primo dal secondo elemento nel menu di destra*/
}
#tool-bar nav#top-left-menu ul li:not(:first-child) a {
  /* la distanza fra gli elementi del primo menu è un po' superiore rispetto agli altri. Risolvo aggiungendo un po' di padding orizzontale a livello di <a> */
  padding-left: 20px;
}
#tool-bar nav#top-left-menu ul li:not(:last-child) a {
  padding-right: 20px; /* come sopra */
}

nav#top-left-menu ul li:first-child a::before {
  font-family: "Font Awesome 5 Free";
  content: " \f7a2";
  padding-right: 10px;
  font-weight: 900;
}

nav#top-right-menu ul li a#search-placeholder::after {
  font-family: "Font Awesome 5 Free";
  content: " \f002";
  padding-left: 10px;
  font-weight: 900;
  color: #00aab8;
}

#tool-bar a.btn {
  display: inline-block;
  padding: 8px 20px;  /* sovrascrive padding */
  margin: 0;    /* sovrascrive margin */
}

/*
######################
Inizio Regole Header
######################
*/

          /* Top Header */

#outer-logo {
  left: 0;
}
#outer-nav {
  right: 0;
}

#outer-logo img {
  display: block;
}

nav#main-menu {
  text-align: right;
  text-transform: capitalize;
}
          /* Bottom Header */

#bottom-header {
  position: relative;
  overflow:auto; /* permette di preservare il margine superiore del jumbotron*/
  background-image: url("../img/jumbotron.png");
  background-size: auto 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #fef5ee; /* colore simile a quello di sfondo dell'immagine*/
}

.jumbotron {
  margin-top: 50px;
}

.jumbotron a.btn {
  margin-left: 0;
  margin-right: 0;
}

.separator {
  position: absolute;
  bottom: 0;
  background-color: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
}



/*
######################
Inizio Regole Main
######################
*/

main {
  overflow: auto; /* Per gestire correttamente i margini */
}

main section {  /* Tutte le section discendenti dirette di main*/
  padding-top: 30px;
  padding-bottom: 30px;
}

main .column {
padding: 15px;
}

            /* Popular Software Section */

section#popular-software {
  background-color: #f4f9fd;
  text-align: center;
}

section#popular-software .inner-wrapper > img:first-child {
  /* L'immagine che appare come primo elemento della sezione */
  max-height: 200px;
}

section#popular-software .row-1 ,
section#popular-software .row-2 .column { /* tutte le colonne */
  background-color: white;
}

section#popular-software .column img { /* immagini all'interno di colonne */
height: 120px;
}

#popular-software hr {
  margin: 20px auto;
}

#popular-software .row-1 h4 {
  width: 29%;
  text-align: left;
  display: inline-block;
}

#popular-software .row-1 hr {
  width: 70%;
  display: inline-block;
  position: relative;
  bottom:4px;
  margin: 0;
}

section#popular-software .column {
  position: relative;
}

#popular-software .row-1 ul {
  text-align: left;
}

#popular-software .row-1 {
  margin-bottom: 15px;
}

#popular-software .row-2 .col-one-third:nth-child(2) { /* la seconda delle tre colonne */
  margin-right: 15px;
  margin-left: 15px;
}

#popular-software .row-2 ul li {
  text-align: left;
  margin-bottom: 10px;
}

#popular-software ul li::before {
  font-family: "Font Awesome 5 Free";
  content: " \f078";
  display: inline-block;
  margin-right: 15px;
  font-weight: 900;
  background-color: #fe775a;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

          /* Regole Sezione Our Figures */

section#our-figures {
  background-color: #00aab8;
  text-align: center;
  color:white;
}

#figures-table {
  margin: 30px auto;
}

#figures-table > div:not(:last-child) {
  border-bottom: 1px solid white; /* bordino inferiore dato solo al primo row (o "a tutti tranne l'ultimo", nel caso si volesse aggiugnere una riga in futuro)*/
}

#figures-table .column.col-one-fourth:not(:last-child) {
  border-right: 1px solid white; /* bordino destro assegnato ad ogni cella tranne l'ultima di ogni riga */
}

#figures-table .column.col-one-fourth > * { /* qualunque cosa sia contenuto nella cella*/
  display: block;
  margin:auto;
  height: 50px;
  line-height: 50px;
}

#figures-table .column.col-one-fourth > img {
  margin-bottom: 20px;
  max-width: 50%;
}

#figures-table .bigger-text::after {
  content: "+";
  padding-left: 10px;
}

          /* Regole Sezione Partners */

section#partners .row-2 .col-one-half:first-child {
  position: relative;
}

section#partners .row-1 .col-one-half:first-child {
  text-align: center;
}
section#partners .row-1 .col-one-half:first-child .bigger-text {
  line-height: 70px;
}

.row-1 ul#logo-partners li.col-one-fourth {
  position: relative;
}
.row-1 ul#logo-partners li.col-one-fourth img {
  max-width: 80%;
}

section#partners .row-2 .col-one-half:last-child img {
  max-height: 300px;
}
section#partners .row-2 .col-one-half:last-child {
  text-align: right; /* L'immagine della signorina è allineata a destra*/
}

/*
######################
Inizio Regole Footer
######################
*/

footer {
  background-color: #32495b;
  color:white;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer ul:not(.horizontal-list) li {
  margin-bottom: 15px;
}

footer .col-one-fourth > ul:not(.horizontal-list) > li:first-child {
  font-weight: 700;
  margin-bottom: 25px;
}

footer .smaller-text ul:not(.horizontal-list) li:first-child {
  font-size: initial;
}

nav#language-bar {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}

#outer-copyright #copyright-text {
  display: block;
}

/*
######################
FEGATELLI
(dettagli che non rientrano in sezioni specifiche)
######################
*/

hr {
  border-top-width: 0;
  border-color: lightgray;
}

.add-shadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.add-chevron::after { /* Aggiugne triangolino alle voci del menu*/
  font-family: "Font Awesome 5 Free";
  content: " \f078";
  padding-left: 10px;
  font-weight: 900;
}
