* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 27px;
  color: #33475b; /* Primary Color*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.outer-wrapper {
  /* Da attivare / disattivare per passare da layout full-width a boxed */
  max-width: 1600px;
  margin:auto;
}

.inner-wrapper { /* l'area che sarà effettivamente occupata dalla maggior parte degli elementi*/
  max-width: 1054px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Posizionamenti */

.float-left {
  float: left;
}

/* Layout e Colonne */

.col-one-half {
  width: 50%;
}

.col-one-third {
  width: calc(100% / 3);
}


/*
######################
Inizio Regole Tool Bar
######################
*/

#tool-bar {
  height:70px;
  background-color: blue;
  border: 1px solid red;

}

/*
######################
Fine Regole Tool Bar
######################
*/



/*
######################
Inizio Regole Header
######################
*/


/* Top Header */

#top-header {
  height:70px; /* Rimane da gestire l'eccezione del menu che si dispone su due righe*/
  padding-top: 15px;
  padding-bottom: 15px;
  /* Rimangono 40px di height a disposizione del contenuto */
}

#outer-logo img {
  height: 40px;
}

nav#main-menu {
  text-align: right;
}

#outer-nav nav#main-menu ul li {
  display: inline-block;
  height:40px;
}
#outer-nav nav#main-menu ul li:not(:first-child) {
  margin-left: 25px; /* margine per tutti gli li ad eccezione del primo*/
  /* Poi vedi se estendere anche ad altri menu*/
}

#outer-nav nav#main-menu ul li a {
  line-height: 40px;
  text-decoration: none;
  color:inherit;
  text-transform: capitalize;
}

#outer-nav nav#main-menu ul li:not(:nth-child(2)) a::after {
content: " \25BC"; /* Da sostituire in seguito con font-awesome */
}



/* Bottom Header */

#bottom-header {
  position: relative;
  height: 500px;
  padding-top: 50px;
  background-image: url("../img/jumbotron.png");
  background-size: auto 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #fef5ee; /* colore simile a quello di sfondo dell'immagine*/
}

.separator {
  position: absolute;
  bottom: 0;
  height:60px; /* =top bar */
  width: 100%;
  background-color: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
}

h1 {
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 20px;
}

.call-to-action {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*
######################
Fine Regole Header
######################
*/

/*
######################
Inizio Regole Main
######################
*/

main {
  min-height: 100vh;
  background-color: #f4f9fd;
}

main section {
  margin-top:30px;
  margin-bottom: 30px;
}

main #slogan .inner-wrapper .col-one-half {
  height:300px;
  width:100%;
  background-color: red;
}

/*
######################
Fine Regole Main
######################
*/
