* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;  /* ereditato da tutto salvo sovrascritture */
  color: #33475b;   /* Primary Color*/
  font-family: Helvetica, Arial, sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.outer-wrapper {
  /* Da attivare / disattivare per passare da layout full-width a boxed */
  max-width: 1600px;
  margin:auto;
}

.inner-wrapper { /* l'area che sarà effettivamente occupata dalla maggior parte degli elementi*/
  max-width: 1054px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; /* tutti gli elementi non-statici si posizionano di fatto rispetto all'inner-wrapper*/
}

/*
###################
Tipografia generale
###################
*/

a { /* Reset proprietà link */
  text-decoration: none;
  color:inherit;
}

p {
  line-height: 2.4rem;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 20px;
}

h1 ,
.bigger-text {
  font-size: 4.5rem;
  line-height: 5.5rem;
}

.smaller-text {
  font-size: 1.4rem;
}

/*
#################################
Posizionamenti / Layout / Colonne
#################################
*/

.height-small {       /* Elementi di altezza bassa */
  min-height: 70px;
}

.height-medium {      /* Elementi di altezza media */
  min-height: 350px;
}

.height-large {
  min-height: 550px;  /* Elementi di altezza elevata */
}

.float-left {
  float: left;
}
.float-right {
  float:right;
}

.align-x {          /* Centra gli elementi orizzontalmente tramite position absolute*/
  left: 50%;
  transform: translateX(-50%);
}
.align-y {          /* Centra gli elementi verticalmente tramite position absolute*/
  top: 50%;
  transform: translateY(-50%);
}
.align-x-y {        /* Centra gli elementi orizzontalmente e verticalmente tramite position absolute*/
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}
.place-on-bottom {  /* Posiziona alcuni elementi in fondo al loro container */
  bottom: 0;
  width: 100%;
}
.place-on-bottom:not(.place-on-bottom.align-x) { /* Se gli elementi non sono anche centrati, assegna loro left e right a 0*/
  left: 0;
  right: 0;
}
.place-on-bottom ,
.align-y ,
.align-v ,
.align-x-y {
  position: absolute;
  padding-right: inherit;
  padding-left: inherit;
}

.full-width {         /* Colonna larghezza piena */
  width: 100%;
}

.col-one-half {       /* Layout a due colonne (no gap) */
  width: 50%;
}

.col-one-third {      /* Colonna da 1/3 */
  width: calc((100% / 3) - 10px ); /* lascia 10px di gap da gestire coi margini */
}
.col-two-thirds {
  width: calc((100% / 3)  * 2 - 5px ); /* lascia gap di 5 px da gestire coi margini*/
}

.col-one-fourth {      /* Layout a 4 colonne (no gap) */
  width:25%;
}

/*
######################
Regole Generali menu
######################
*/

ul {
  list-style: none;
}
ul.horizontal-list li {
  display: inline-block;
}
ul.horizontal-list li:not(:first-child) {
  padding-left: 15px; /* padding a sinistra per tutti gli li ad eccezione del primo*/
}
ul.horizontal-list li:not(:last-child) {
  padding-right: 15px; /* padding a destra per tutti gli li ad eccezione dell'ultimo*/
}

/*
########################
Regole Generali Pulsanti
########################
*/

a.btn {                   /* pulsanti generici */
  display: block;
  max-width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
}

a.btn.orange {
  background-color: #fe775a;
  color: white;
}

a.btn.white {
  background-color: white;
  color: #fe775a;
  border: 1px solid #fe775a;
}

a.btn.gray {
  background-color: lightgray;
  color: #33475b;
}


/*
###############
Regole Tool Bar
###############
*/

#tool-bar {
  background-color: #f4f9fd;
}

#tool-bar nav#top-left-menu {
  left:0; /* per fissarlo a sinistra*/
}
#tool-bar nav#top-right-menu {
  right:0; /* per fissarlo a destra*/
}

#tool-bar nav#top-left-menu ul li:not(:last-child) {
  border-right: 1px solid #33475b; /* il bordino che separa il primo dal secondo elemento nel menu di destra*/
}
#tool-bar nav#top-left-menu ul li:not(:first-child) a {
  /* la distanza fra gli elementi del primo menu è un po' superiore rispetto agli altri. Risolvo aggiungendo un po' di padding orizzontale a livello di <a> */
  padding-left: 20px;
}
#tool-bar nav#top-left-menu ul li:not(:last-child) a {
  padding-right: 20px; /* come sopra */
}

nav#top-left-menu ul li:first-child a::before { /* inietta l'icona del globo */
  font-family: "Font Awesome 5 Free";
  content: " \f7a2";
  padding-right: 10px;
  font-weight: 900;
}

nav#top-right-menu ul li a#search-placeholder::after { /* inietta l'icona della lente */
  font-family: "Font Awesome 5 Free";
  content: " \f002";
  padding-left: 10px;
  font-weight: 900;
  color: #00aab8;
}

#tool-bar a.btn {         /* I pulsanti presenti nella toll bar hanno regole diverse dagli altri*/
  display: inline-block;
  padding: 8px 20px;
  margin: 0;
}

/*
#############
Regole Header
#############
*/

#top-header #outer-logo {
  left: 0;
}
#top-header #outer-logo img {
  display: block; /* altrimenti si porta dietro lo spazietto ingestibile*/
}

#top-header #outer-nav {
  right: 0;
}
#top-header nav#main-menu {
  text-align: right;
  text-transform: capitalize;
}

#bottom-header {
  position: relative;
  overflow:auto; /* permette di preservare il margine superiore del jumbotron*/
  background-image: url("../img/jumbotron.png");
  background-size: auto 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #fef5ee; /* colore simile a quello di sfondo dell'immagine*/
}

.jumbotron {
  margin-top: 50px;
}

.separator {
  position: absolute;
  bottom: 0;
  background-color: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
}

/*
###########
Regole Main
###########
*/

main {
  overflow: auto; /* Per gestire correttamente i margini */
}

main section {  /* Tutte le section discendenti dirette di main*/
  padding-top: 30px;
  padding-bottom: 30px;
}

main .column {
padding: 15px;
}

/*
########################
Popular Software Section
########################
*/

section#popular-software {
  background-color: #f4f9fd;
  text-align: center;
}

section#popular-software .inner-wrapper > img:first-child { /* L'immagine in alto nella sezione */
  max-height: 200px;
}

section#popular-software .column {
  position: relative;     /*  Tutte le colonone hanno elementi che si posizionano assolutamente in base ad esse */
}

section#popular-software .row-1 ,         /* l'intera prima riga */
section#popular-software .row-2 .column { /* e tutte le colonne della seconda riga */
  background-color: white;                /* hanno lo sfondo bianco */
}

section#popular-software .column img {    /* tutte le immagini all'interno di colonne */
max-height: 120px;
}

section#popular-software hr {  /* tutte le linee orizzontali di separazione  */
  margin: 20px auto;
}

section#popular-software .btn {
  display: inline-block;
}

#popular-software .row-1 h4 { /* il titolo h4 di una sezione è allineato a sinistra */
  width: 29%;
  text-align: left;
  display: inline-block;
}
#popular-software .row-1 hr { /* Questo specifico hr si posiziona a lato del titolo h4 */
  width: 70%;
  display: inline-block;
  position: relative;
  bottom:4px;                 /* Per centrarlo... bene o male*/
  margin: 0;
}
#popular-software .row-1 ul {
  text-align: left;           /* questo elenco al contrario degli altri è allineato a sinistra */
}
#popular-software .row-1 {
  margin-bottom: 15px;  /* margine tra la prima e la seconda riga (uguale a quello tra le tre colonne sotto)*/
}

#popular-software .row-2 .col-one-third:nth-child(2) { /* la seconda delle tre colonne */
  margin-right: 15px;
  margin-left: 15px;
}
#popular-software .row-2 ul li {
  text-align: left;
  margin-bottom: 10px;
}
#popular-software .row-2 .place-on-bottom {
  text-align: center;
}

#popular-software ul li::before { /* Aggiunge il marker di FA a tutte le voci in un elenco*/
  font-family: "Font Awesome 5 Free";
  content: " \f078";
  display: inline-block;
  font-weight: 900;
  color: white;
  background-color: #fe775a;
  border-radius: 50%;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

/*
##########################
Regole Sezione Our Figures
##########################
*/

section#our-figures {
  background-color: #00aab8;
  text-align: center;
  color:white;
}

#figures-table {
  margin: 30px auto;
}

#figures-table > .row-1 {         /* Assegna bordino in basso all'intera prima riga */
  border-bottom: 1px solid white;
}
#figures-table .column.col-one-fourth:not(:last-child) {
  border-right: 1px solid white; /* Assegna bordino destro a tutte le celle tranne l'ultima di ogni riga */
}

#figures-table .column.col-one-fourth > * { /* qualunque elemento sia contenuto nella cella*/
  display: block;
  margin:auto;
  height: 50px;
  line-height: 50px;
}

#figures-table .column.col-one-fourth > img {
  margin-bottom: 20px;
  max-width: 50%;
}

#figures-table .bigger-text::after { /* Aggiugne il "+" alla fine di ogni cifra */
  content: "+";
  padding-left: 10px;
}

/*
#######################
Regole Sezione Partners
#######################
*/

section#partners .row-1 .col-one-half:first-child {
  text-align: center;
}
section#partners .row-1 .col-one-half:first-child .bigger-text {
  line-height: 70px; /* = all'altezza del div */
}

section#partners .row-1 ul#logo-partners li.col-one-fourth {
  position: relative; /* rende relative le singole celle, così da poter centrare tramite position absolute i loghi al loro interno  */
}
section#partners .row-1 ul#logo-partners li.col-one-fourth img {
  max-width: 80%;
}

section#partners .row-2 .col-one-half:first-child {
  position: relative; /* per posizionere con absolute il contenuto al suo interno */
}

section#partners .row-2 .col-one-half:last-child {
  text-align: right; /* L'immagine della signorina è allineata a destra */
}
section#partners .row-2 .col-one-half:last-child img {
  max-height: 300px; /* Altezza massima per la foto della signorina */
}

/*
####################
Inizio Regole Footer
####################
*/

footer {
  background-color: #32495b;
  color:white;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer ul:not(.horizontal-list) li {  /* tutte le voci di liste verticali */
  margin-bottom: 15px;
}

footer .col-one-fourth > ul:not(.horizontal-list) > li:first-child { /* Grassetto */
  font-weight: 700;
  margin-bottom: 25px;
}

footer ul:not(.horizontal-list) li:first-child {  /* il primo li delle liste, ad eccezione di quelle orizzontali... */
  font-size: initial; /*  ...ha dimensioni standard e non small (contrariamente al resto del footer) */
}

footer nav#language-bar {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}

footer .btn {
  max-width: 200px;
  padding: 10px 15px;
}

footer ul#social-list li {
  padding-right:8px;
}

footer #legal-bar img {
  left:0;             /* fisso a sinistra */
}
footer #legal-bar {
  position: relative; /* per posizionare i contenuti al suo interno */
}

footer #legal-bar nav {
  right: 0;           /* fisso a destra */
}

#outer-copyright #copyright-text {
  display: block;     /* Va a capo */
}

/*
#########
FEGATELLI
#########
*/

hr {
  border-top-width: 0;
  border-color: lightgray;
}

.add-shadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.add-chevron::after { /* Aggiugne triangolino alle voci del menu*/
  font-family: "Font Awesome 5 Free";
  content: " \f078";
  padding-left: 10px;
  font-weight: 900;
}
